body {
  background-color: #85cff7;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

#birthday_card {
  text-align: center;
}

h1, li {
  font-size: 25px;
  list-style-type: none;
  width: 20%;
  margin: 0px auto;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

#header {
  background-color: #fff;
  color: #000;
}

ul {
  padding: 0;
}

.greeting {
    color : white;
    font-size: 15px;
    margin-top: 40px;
    display: none;
}

#greeting_1 {
  background-color: #90EE90;
}

#greeting_2 {
  background-color: #FFDEAD;
}

#greeting_3 {
  background-color: #FFB6C1;
}